/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*My code*/

@font-face {
    src: url(../fonts/Baloo2-Bold.ttf);
    font-family: Comfortaa;
}

* {
    text-decoration: none;
    color: #111;
    font-family: Comfortaa;
}

.background {
    width: 100%;
    height: 1080px;
    background-image: url("../img/Cloths-bc740630f228713e4bb0de8a7bffce22.png");
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    height: 1080px;
}

.navigation {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 150px;
}

.navigation a {
    display: inline-block;
}
.navigation .title {

    font-size: 80px;
    font-weight: 100;
    margin: 35px auto 35px 100px;
}
.navigation .title span {
    color: rgb(18, 139, 58);
}
.navigation .join {
    float: right;
    font-size: 30px;
    margin: 56px 100px 56px 40px;
    border: #111 solid 2px;
    padding: 2px 10px;
    box-shadow: 3px 3px;

}


.navigation .help {
    float: right;
    font-size: 30px;
    margin: 60px 0px 60px auto;
}

.navigation .help span {
    background-color: #111;
    border-radius: 50%;
    padding: 0 15px 0 15px;
    color: #fff;
}

.feature {
    display: block;
    size: 100%;
    text-align: center;
    margin:  auto;
}

.feature h2 {
    font-size: 100px;
    font-weight: 150;
    padding-top: 300px;
}

.feature p {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 120px;
    color: #adabab;
}

.feature .searchbox {
    width: 1100px;
    height: fit-content;
    border: 4px solid rgb(65, 62, 62);
    border-radius: 25px;
    display: block;
    padding-bottom: 5px;
    margin: 0 auto;
}

.feature .searchbox h3 {
    font-size: 50px;
    font-weight: 20;
    text-align: left;
    color: #6e6e6e;

}

.feature .searchbox h3 img {
    padding-left: 10px;
    width: 30px;
}

.promotion {
    width: 100%;
    height: 400px;

}
.promotion .type {
    display: inline-block;
    width: 540px;
    height: fit-content;
    margin: 80px 40px;
    border: 3px solid #111;
}
.promotion #coupon {
    background-color: palevioletred;
}

.promotion #delivery {
    background-color: rgb(202, 86, 43);
}

.promotion #gift {
    background-color: rgb(163, 64, 163);
}

.promotion .text {
    display: block;
    float: left;
    width: 364px;
    height: 290px;
}
.promotion .text .title {
    font-size: 40px;
    padding: 50px 5px 0 10px;

}
.promotion .text .details {
    font-size: 25px;
    padding-top: 20px;
    padding: 20px 0 55px 10px;
}
.promotion .text a {

    font-size: 30px;
    margin: 56px 100px 56px 10px;
    border: #111 solid 2px;
    padding: 4px 20px;
    box-shadow: 5px 5px;

}
.promotion .type img {
    width: 150px;
    display: block;
    float: right;
    margin: 70px 20px 70px 0;
}

table{
    margin-top: 30px;
}
table .category {
    width: 495px;
    margin-top: 0;
    padding-top: 30px;
    vertical-align: top;
}

table .category .box {
    display: inline-block;
    width: 495px;
    height: 75px;
    margin: 30px auto;
    padding-left: 30px;
}

table .category .box img {
    display: inline-block;
    float: left;
    width: 75px;
}

table .category .box div {
    display: inline-block;
    height: 75px;
    width: 400px;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;

}
table .products {
    background-color: rgb(245, 243, 243);
}

table .products .item {
    display: inline-block;
    width: 400px;
    height: 500px;
    border: 3px solid #000;
    margin: 50px 20px;
}

table .products .item .clothes {
    width: 240px;
    display: block;
    margin: 0 80px;
}
table .products .item .discount {
    display: inline-block;
    width: 75px;
    font-size: 25px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: orange;
    text-align: center;
    float: right;
    margin: 20px;
}

table .products .item p {
    font-size: 25px;
    padding: 25px 0 10px 20px;
    line-height: 30px;
    
}


table .products .item .normal-price {
    color: rgb(194, 4, 4);
    font-size: 30px;
    margin: 15px;
    text-decoration: line-through;
}


table .products .item .discounted-price {
    color: rgb(2, 168, 29);
    font-size: 30px;
    margin: 15px;
}

table .products .item .cart {
    display: inline-block;
    float: right;
    width: 100px;
    border: 2px solid #111;
    box-shadow: 3px 3px;
    margin-right: 20px;

}

table .products .item  .cart div {
    display: inline-block;
    float: right;
    width: 65px;
    height: 30x;
    vertical-align: middle;
    font-size: 25px;
    text-align: center;

}

table .products .item .cart img {
    width: 30px;
    float: left;
    padding-left: 5px;
}

table .products .load-more {
    width: 200px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(22, 200, 22);
    padding-top: 10px;
    margin: 50px auto;
}

